.block{
    width:100%;
  }
.form {
    padding: 20px;
}
.row{
    margin:0px;
}
#logo{
    background-color: #ff8364;
    width: min-content;
    padding:20px;
    color:#f9f9f9;
}
#form-header{
    text-align:center;
    width:100%;
}
#reg-area{
    padding:50px;
    background-color: #edf7fa;
    margin-top:20px;
}
#header-area{
    background-color: #ffb677;
}
#footer-area{
    background-color: #ff8364;
    padding:20px;
    text-align: center;
    color:#f9f9f9;
}
a{
    color: inherit;
}
a:hover{
    color:inherit;
    text-decoration: none;
}
#reg-button{
    background-color: #5f6caf;
    border-color: #5f6caf;
    margin-top:20px;
}
#error-text{
    color:red;
}
#logout{
    width: 100%;
    margin-top:50px;
    text-align: center;
}
#logout-text{
    color:#0000A0;
    font-size: 20px;
    width: 100%;
}
.form-control:disabled, .form-control[readonly]{
    background-color: white;
}